{{
response.title = 'ExplainER'

response.files.append('https://use.fontawesome.com/releases/v5.0.13/css/all.css')

response.files.append('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
response.files.append('https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')

response.files.append('//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
response.files.append('//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
response.files.append('//cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js')
}}

{{left_sidebar_enabled, right_sidebar_enabled=er_ui, False}}
{{extend 'layout.html'}}

{{block head}}
<style>
    /* Tabs Borders */
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    /* Larger Modal */
    .modal-xl {
        max-width: 75%;
        width: 75%;
    }

    /* Progress Bar Text */
    .progress {
      position: relative;
    }
    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
</style>
{{end}}

{{block header}}
<div style="text-align: center">
    <h1>ExplainER</h1>
    <br/>
    {{=frm_dataset_matcher}}
    <br/>
</div>
{{end}}

{{block left_sidebar}}
{{if er_ui:}}
<div class="panel panel-info">
    <div class="panel-heading">ER Dataset</div>
    <div class="panel-body">{{=er_ui.stats}}</div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">ER Evaluation</div>
    <div class="panel-body">{{=er_ui.evaluation}}</div>
</div>
{{pass}}
{{end}}

{{block center}}
{{if er_ui:}}
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a href="#div_tuples" data-toggle="tab">Tuple Pairs</a></li>
        <li class="nav-item"><a href="#div_representatives" data-toggle="tab">Representative Tuples</a></li>
        <li class="nav-item"><a href="#div_features" data-toggle="tab">Feature Importance</a></li>
        <li class="nav-item"><a href="#div_global_explanations" data-toggle="tab">Global Explanations</a></li>
        <li class="nav-item"><a href="#div_differential_analysis" data-toggle="tab">Model Comparison</a></li>
        <li class="nav-item"><a href="#div_predictions" data-toggle="tab">Predictions</a></li>
        <li class="nav-item"><a href="#div_explanations" data-toggle="tab">Explanations</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="div_tuples">
            {{=er_ui.tuples}}
            <p><i class="fas fa-hand-pointer"></i> Click a row to view original tuples and explanations</p>
        </div>
        <div class="tab-pane" id="div_representatives">
            <br/>{{=exps_ui.representatives.form}}<br/>
            <div id="div_rep_tuple_pairs">{{=exps_ui.representatives.table}}</div>
            <p><i class="fas fa-hand-pointer"></i> Click a row to view original tuples and explanations</p>
        </div>
        <div class="tab-pane" id="div_features">
            {{=exps_ui.features}} <br/>
            <p><i class="fas fa-exclamation-circle"></i> Feature importance is calculated and normalized over all explanations</p>
        </div>
	<div class="tab-pane" id="div_global_explanations">
	    <center>{{=exps_ui.global_exp}}</center>
	</div>
	<div class="tab-pane" id="div_differential_analysis">
	    <center>{{=exps_ui.differential_analysis}}</center>
	</div>
        <div class="tab-pane" id="div_predictions">
            <center>{{=er_ui.predictions}}</center>
            <p><i class="fas fa-hand-pointer"></i> Click a prediction to view original tuples and explanations</p>
        </div>
        <div class="tab-pane" id="div_explanations">
            <center>{{=exps_ui.explanations}}</center>
            <p><i class="fas fa-hand-pointer"></i> Click an explanation to view original tuples and feature weights</p>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="mdl_local_explanation">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Local Explanation</h4>
            </div>
            <div class="modal-body">
                <div id="div_explanation"></div>
            </div>
        </div>
    </div>
</div>
{{else:}}
<div class="alert alert-warning" role="alert" style="width: 50%; text-align: center; margin: 0 auto;">
    Choose a dataset and a matcher
</div>
{{pass}}
{{end}}

{{block page_js}}
<script >
    $(document).ready(function() {
        // Selectors
        $('#slct_dataset, #slct_matcher, #slct_reps_filter').select2({
            minimumResultsForSearch: -1
        });
    });
</script>
{{if er_ui:}}
<script >
    function explainPair(pairID) {
        // Show spinner while calculating explanation
        $('#div_explanation').html(
            '<div style="text-align: center"><i class="fa fa-spinner fa-spin" style="font-size:48px"></i></div>');

        // Send ajax request
        ajax('er/explain?pair_id=' + pairID, [], 'div_explanation');
        $('#mdl_local_explanation').modal();
    }

    // Plotly click
    function registerOnclickEvent(div_id){
        var div_plt_id = $('#' + div_id + ' > div > div').attr('id');
        var div_plt = $('#' + div_plt_id);
        div_plt.on('plotly_click', function(_, data){
            var pairID = data.points[0].customdata;
            explainPair(pairID);
        });
    }

     // Hide IDs columns
    var colDefs = [
        {targets: '_all', render: $.fn.dataTable.render.ellipsis(15)},
        {targets: [0, 1, {{=len(list(er_mdl.df1)) + 1}}], visible: false}];

    // Tuple pair row color
    function rowColor(row, data){
        var status = data[data.length - 1];
        if(status == "True Positive"){
            $(row).css('background-color', 'rgb(0, 64, 0, 0.25)'); //darkgreen
        } else if(status == "True Negative"){
            $(row).css('background-color', 'rgb(50, 205, 50, 0.25)'); //limegreen
        } else if(status == "False Positive") {
            $(row).css('background-color', 'rgb(220, 20, 60, 0.25)'); //crimson
        } else if(status == "False Negative") {
            $(row).css('background-color', 'rgb(250, 128, 114, 0.25)'); //salmon
        }
    }

    function format_tuple_pairs_table() {
        var tblTuplePairs = $('#tbl_tuple_pairs').DataTable({
            ajax: '{{=er_mdl.tpjson}}', aaSorting: [], columnDefs: colDefs, rowCallback: rowColor});
        $('#tbl_tuple_pairs tbody').on('click', 'tr', function () {
            var pairID = tblTuplePairs.row(this).data()[0];
            explainPair(pairID);
        });
    }

    function format_reps_table() {
        var tblRepTuplePairs = $('#tbl_rep_tuple_pairs').DataTable({
            aaSorting: [], columnDefs: colDefs, rowCallback: rowColor});
        $('#tbl_rep_tuple_pairs tbody').on('click', 'tr', function () {
            var pairID = tblRepTuplePairs.row(this).data()[0];
            explainPair(pairID);
        });
    }

    function reload_reps(reps) {
        $('#div_rep_tuple_pairs').html(reps);
        format_reps_table();
    }

    $(document).ready(function() {
        // Tuple Pairs Datatables
        format_tuple_pairs_table();
        format_reps_table()

        // Representatives Form
        $('#frm_rep_tuple_pairs').submit(function(event){
            // Disable form submission
            // this.checkValidity();
            event.preventDefault();

            // Show spinner while calculating explanation
            $('#div_rep_tuple_pairs').html(
                '<div style="text-align: center"><i class="fa fa-spinner fa-spin" style="font-size:48px"></i></div>');

            // Send ajax request
            ajax('er/reload_reps', ['nmbr_reps_k', 'slct_reps_filter'], reload_reps);
        });

        // Features Table
        $('#tbl_features').DataTable({ordering: false, paging: false, searching: false});

        // Plotly Click Events
        registerOnclickEvent('div_plt_predictions');
        registerOnclickEvent('div_plt_explanations');
        registerOnclickEvent('div_plt_representatives');
    });
</script>
{{pass}}
{{end page_js}}
